<section class="footer">
  <div class="container">
    <div class="footergrid">
      <div class="judul">
        <h3>Tongkrongin</h3>
        <p>Website Pemesanan Tempat dan Makanan Tempat Nongkrong Favorit Mu</p>
      </div>
      <div class="kontak">
        <h3>Kontak Kami</h3>
        <table>
          <tr>
            <td><i class="fab fa-facebook-f"></i></td>
            <td class="ps-4"><a href="https://facebook.com" class="d-block" target="blank">tongkrongin </a></td>
          </tr>
          <tr>
            <td><i class="fab fa-instagram"></i></td>
            <td class="ps-4"><a href="https://instagram.com" class="d-block" target="blank">@tongkrongin </a></td>
          </tr>
          <tr>
            <td><i class="fab fa-twitter"></i></td>
            <td class="ps-4"><a href="https://twitter.com" class="d-block" target="blank">@tongkrongin </a></td>
          </tr>
          <tr>
            <td><i class="fab fa-whatsapp"></i></td>
            <td class="ps-4"><a href="https://web.whatsapp.com" class="d-block" target="blank">08121312312 </a></td>
          </tr>
        </table>
      </div>
      <div class="navigasi">
        <h3>Tentang Kami</h3>
        <a href="/cafe" class="d-block">Cafe </a>
        <a href="/cafe" class="d-block">Fasilitas </a>
        <a href="/about" class="d-block">Sejarah </a>
        <a href="/cafe" class="d-block">Ulasan</a>
      </div>
    </div>

    <div class="text-center border-top py-3 mt-3 bottom">
      <span>&COPY; 2021 tongkrongin.com | Initiated By Rinaldi , Adiyaksa , Risma , Supriatman</span>
    </div>
  </div>
</section>
